* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--bg-dark);
    color: var(--text-light);
    font-family: 'Poppins', sans-serif;
    padding: 80px 20px;
    line-height: 1.6;
}

h2 {
    margin-bottom: 10px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}